<div class="ml-5 mt-6 sm:mt-7">
  <%= render(SearchComponent.new(placeholder: "Search for movies or TV series")) %>
</div>
<h2 class="mt-6 text-skin-background-text">Trending</h2>
<h2 class="text-skin-background-text">Recommended for you</h2>
