<div class="relative w-8 h-8 rounded-full bg-skin-surface opacity-50">
  <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <% if @bookmarked %>
      <%= helpers.show_svg "icon-bookmark-full.svg" %>
    <% else %>
      <%= helpers.show_svg "icon-bookmark-empty.svg" %>
    <% end %>
  </span>
</div>
