<%= render(NavigationComponent.new(current_customer: current_customer)) %>

<h2 class="text-skin-background-text">Bookmarked Movies</h2>
<h2 class="text-skin-background-text">Bookmarked TV Series</h2>
